/* REQUIRED: DO NOT REMOVE */
@import "../../global/sass/rubix/overrides/variables";
@import "../../global/sass/vendor/bootstrap/bootstrap";
@import "../../global/sass/vendor/sass-list-maps/sass-list-maps";

@import "../../global/sass/rubix/base/base";
@import "../../global/sass/rubix/layout/layout";
@import "../../global/sass/rubix/module/module";

/* THIRD-PARTY PLUGINS (CAN BE REMOVED) */
@import "../../global/sass/vendor/prism/prism";
@import "../../global/sass/vendor/ion/tabs";
@import "../../global/sass/vendor/ion/rangeSlider";
@import "../../global/sass/vendor/hubspot/vex";
@import "../../global/sass/vendor/hubspot/messenger";
@import "../../global/sass/vendor/timeline/timeline";
@import "../../global/sass/vendor/bootstrap-slider/bootstrap-slider";
@import "../../global/sass/vendor/xeditable/xeditable";
@import "../../global/sass/vendor/typeahead/typeahead";
@import "../../global/sass/vendor/select2/select2";
@import "../../global/sass/vendor/jquery-steps/jquery-steps";
@import "../../global/sass/vendor/tablesaw/tablesaw";
@import "../../global/sass/vendor/datatables/datatables";
@import "../../global/sass/vendor/fullcalendar/fullcalendar";
@import "../../global/sass/vendor/fullcalendar/fullcalendar-print";
@import "../../global/sass/vendor/nestable/nestable";
@import "../../global/sass/vendor/dropzone/dropzone";
@import "../../global/sass/vendor/jcrop/jcrop";
@import "../../global/sass/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker";
@import "../../global/sass/vendor/c3js/c3js";
@import "../../global/sass/vendor/leaflet/leaflet";
@import "../../global/sass/vendor/blueimp-gallery/blueimp-gallery";
@import "../../global/sass/vendor/trumbowyg/trumbowyg";
@import "../../global/sass/vendor/switchery/switchery";
@import "../../global/sass/vendor/fixed-data-table/fixed-data-table";

/* IMPORT PAGE STYLES */
@import "pages/pages";
/* IMPORT PRINT STYLES */
@import "print/print";

html[dir='rtl'] {
  [class^="icon-"].float-right-rtl,
  [class*=" icon-"].float-right-rtl {
    position: relative;
    /*@noflip*/float: right;
  }
}

body {
  opacity: 1;
  margin-top: $navbar-height;
  transition: all 0.7s ease;

  &.fade-out {
    transition: all 0.25s ease;
    opacity: 0;
  }
}

#app-preloader > .preloader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: #E9EDF2;
  z-index: 99999999999;
}
#app-preloader > .preloader > img {
  margin: auto;
  display: block;
  margin-top: 150px;
  position: relative;
}

.tablesaw td,
.tablesaw tbody th {
  font-size: .925em;
}

.rubix-panel-header.bg-blue.fg-white a {
  color: white;
  text-decoration: underline;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.cms-modal-detail-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999999999999999;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  padding: 0;
}

.cms-modal-detail {
  width: 90%;
  margin: 80px auto;
  background: #FFFFFF;

  .label {
    margin-right: 10px;
  }

  .row {
    margin-bottom: 5px;
  }

  .row.collapsed {
    margin: 0;
    padding: 0;

    > [class^='col-'] {
      line-height: 2.2;
    }
  }

  hr {
    margin: 5px 0;
  }
}

// .image-detail {
//   width: 90%;
//   margin: 80px auto;
//   background: #FFFFFF;
// }

// .image-detail .label {
//   margin-right: 10px;
// }

// .image-detail .row {
//   margin-bottom: 5px;
// }

// .image-detail hr {
//   margin: 5px 0;
// }

.table-striped > tbody > tr.notFirst {
  background-color: #ECFFE6;
}

.table-striped > tbody > tr.isFirst {
  /*#A3D692
  #C4FFB0
  #ECFFE6
  #D1E6CA*/
  background-color: #D1E6CA;
}

figure {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: .8em;
  font-weight: normal;
  background-color: #FFFFFF;
  line-height: 1.42857143;
  letter-spacing: normal;
}

.svg-container {
  width: 100%;
}

.image-detail {
  color: #3D3D3D;

  label {
    background: none;
    color: #2996CC;
    display: inline;
    padding-right: 10px;
    font-size: 12px;
  }

  .label-input {
    border: 2px solid #DDDDDD;
    margin: 0 25px;
    padding: 0 10px;
    width: 92%;

    input {
      border: none;
      display: inline;
      // width: 75%;
    }
  }

  textarea {
    font-size: 12px;
  }
}

.tablesaw {
  tr.highlighted {
    border: 3px solid #2996CC !important;
  }
}

.slider-selection {
  background: #55C9A6;
}

#navbar {
  -webkit-transition-duration: .5s;
  transition-duration: .5s;

  -webkit-transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );
  transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 );

  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}

.header-hidden {
  -webkit-transform: translateY( -95% );
  -ms-transform: translateY( -95% );
  transform: translateY( -95% );
}

.chunks-detail {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-size: 14px;

  .Title {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.1;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif
  }

  .PageText {

  }

  .ProblemText {
    background: #FEFCA9;
    border: solid 1px #DAD86B;
    padding: 10px 25px;
    border-radius: 5px;
  }

  [class^="Feedback_"] {
    color: #468847;
    background-color: #dff0db;
    border-color: #d6e9c6;
    padding: 15px;
    border-radius: 4px
  }

  label {
    background: none;
    color: #2996CC;
    display: inline;
    padding-right: 10px;
    font-size: 12px;
  }
}

.form-control.required {
  border-color: #FF0000;
}

.message {
  border-radius: 4px;
  border: 1px solid transparent;
}

.message-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d; }

.message-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f; }

.message-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b; }

.message-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442; }

.message-cut {
  background-color: #fcf8e3;
  border: 1px dashed;
  border-color: #ebccd1;
  color: #a94442;
}

.message-readonly {
  background-color: #eeeeee;
  border-color: #cccccc;
  color: #000000;
}

.clipboard {
  .disabled {
    color: #CCCCCC;
    &:hover {
      color: #CCCCCC;
      cursor: not-allowed;
    }
  }
  i:hover {
    color: #2996CC;
    cursor: pointer;
  }
}

.overlay {
  position: absolute;
  top: 50px; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 9999;
  // color: white;
  display: inline-block;
  width: 50%;
  &.left {
    left: 0
  }
  &.right {
    left: 50%
  }
}

.vertical-alignment-helper {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}
// .modal-content {
//   /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
//   width:inherit;
//   height:inherit;
//   /* To center horizontally */
//   margin: 0 auto;
//   pointer-events: all;
// }


.state-count.add {
  opacity: 0.01;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  border-radius: 4px;
  border: 1px solid transparent;
}

.state-count.add.show {
  opacity: 1;
  transition: all 500ms ease-in;
  background-color: inherit;
  border: none;
  color: inherit;;
}

// .hide {
//   opacity: 1;
// }

.state-count.hide {
  opacity: 0.01 !important;
  transition: all 300ms ease-in;
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;
  color: #a94442 !important;
}

.us-states {
  width: 100%;
  height: auto;
}

/*.us-state.add, .us-state.subtract {
  opacity: 0.01;
  fill: #D3D3D3;
}*/

.us-state.add.show {
  opacity: 1;
  animation: stateadd 2s ease-in;
  /*fill: #3366FF;
  transform: translate(-3px,-3px);*/
}

.us-state.subtract.show {
  opacity: 1;
  animation: statesubtract 2s ease-in;
  // fill: #FF0000;
  // transform: translate(3px, 3px);
}

@keyframes stateadd {
  0%, 100% {
    transform: translate(0px,0px);
  }
  50% {
    fill: #79AFF1; /*#3366FF;*/
    transform: translate(-3px,-3px);
  }
}

@keyframes statesubtract {
  0%, 100% {
    transform: translate(0px,0px);
  }
  50% {
    fill: #D46D53; /*#FF0000;*/
    transform: translate(3px,3px);
  }
}

.legend-bar {
  width: 1%;
  height: 20px
}

.page-preview {
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  color: #333333;

  .controls {
    label {
      display: inline;
      padding: 0 5px;
    }
  }

  .meta-info {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
  }

  .problemtext {
    background: #FEFCA9;
    border: solid 1px #DAD86B;
    padding: 10px 25px;
    border-radius: 5px;
    margin-top: 20px;
  }

  .panel-primary {
    border: 1px solid transparent;

    .panel-body {
      border-color: #ddd;
      border-radius: 0 0 4px 4px;
      border-style: solid;
      border-width: 0 1px 1px;
      border-image: none;
    }

    .answers { 
      padding: 10px 0 0;
      border-top: 1px solid #e5e5e5;

      .answer {
        .icon-simple-line-icons-check {
          font-size: 20px;
          padding: 0 10px 0 0;
        }
      }
    }

    .fib-answers {
      .answer {
        border: 1px solid #000;
        overflow: scroll;
        padding: 5px;
        margin-bottom: 10px;
        font-size: .9em;
      }

      // .label {
      //   color: #000;
      // }
    }
  }

  .calculator {
    i {
      padding-right: 5px;
    }
  }

  .inline-modal {
    border-color: #ddd;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px;
    font-size: .9em;

    label {
      font-size: 1em;
      color: #000;
      display: block;
      text-align: left;
      padding: 0 0 5px;

      i {
        padding-right: 5px;
      }
    }
  }
}
