/* REQUIRED: DO NOT REMOVE */
@import "../../global/sass/rubix/overrides/variables";
@import "../../global/sass/vendor/bootstrap/bootstrap";
@import "../../global/sass/vendor/sass-list-maps/sass-list-maps";

@import "../../global/sass/rubix/base/base";
@import "../../global/sass/rubix/layout/layout";
@import "../../global/sass/rubix/module/module";

/* THIRD-PARTY PLUGINS (CAN BE REMOVED) */
@import "../../global/sass/vendor/prism/prism";
@import "../../global/sass/vendor/ion/tabs";
@import "../../global/sass/vendor/ion/rangeSlider";
@import "../../global/sass/vendor/hubspot/vex";
@import "../../global/sass/vendor/hubspot/messenger";
@import "../../global/sass/vendor/timeline/timeline";
@import "../../global/sass/vendor/bootstrap-slider/bootstrap-slider";
@import "../../global/sass/vendor/xeditable/xeditable";
@import "../../global/sass/vendor/typeahead/typeahead";
@import "../../global/sass/vendor/select2/select2";
@import "../../global/sass/vendor/jquery-steps/jquery-steps";
@import "../../global/sass/vendor/tablesaw/tablesaw";
@import "../../global/sass/vendor/datatables/datatables";
@import "../../global/sass/vendor/fullcalendar/fullcalendar";
@import "../../global/sass/vendor/fullcalendar/fullcalendar-print";
@import "../../global/sass/vendor/nestable/nestable";
@import "../../global/sass/vendor/dropzone/dropzone";
@import "../../global/sass/vendor/jcrop/jcrop";
@import "../../global/sass/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker";
@import "../../global/sass/vendor/c3js/c3js";
@import "../../global/sass/vendor/leaflet/leaflet";
@import "../../global/sass/vendor/blueimp-gallery/blueimp-gallery";
@import "../../global/sass/vendor/trumbowyg/trumbowyg";
@import "../../global/sass/vendor/switchery/switchery";

/* IMPORT PAGE STYLES */
@import "pages/pages";
/* IMPORT PRINT STYLES */
@import "print/print";

html[dir='rtl'] {
  [class^="icon-"].float-right-rtl,
  [class*=" icon-"].float-right-rtl {
    position: relative;
    /*@noflip*/float: right;
  }
}

body {
  opacity: 1;
  transition: all 0.7s ease;

  &.fade-out {
    transition: all 0.25s ease;
    opacity: 0;
  }
}

#app-preloader > .preloader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: #E9EDF2;
  z-index: 99999999999;
}
#app-preloader > .preloader > img {
  margin: auto;
  display: block;
  margin-top: 150px;
  position: relative;
}

@media (min-width: 1600px) {
    .container {
        width: 1570px;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1470px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

.answers { display: none; }

.row {
    border-bottom: 1px dotted #CCC;
    padding: 5px 0;
}

.row .stati {
    border-bottom: none;
    padding-top: 2px;
}

.answer-bar {
    color: #003399;
}

.rounded {
    border-radius: 15px;
    border: 1px solid #CCC;
    background-color: #FAFAFA;
}

.rounded .row {
    border: none;
}

.row.no-border {
    border: none;
}

.comment-answers .row {
    border: none;
}